@{
    ViewData["Title"] = "Admin Profile";
}

<h1>@ViewData["Title"]</h1>

<p></p>
<p>Access gained, @Model.Name!</p>
<p>Email: @Model.Email</p>
<p>Address: @Model.Address</p>
<p>Phone: @Model.Phone</p>
<p>Picture: @Model.Picture</p>
