@{
    ViewData["Title"] = "Account Summary";
}

<h1>@ViewData["Title"]</h1>

<p></p>
@if (Model != null)
{
    <p>Account Number: @Model.AcctNo</p>
    <p>Pin: @Model.Pin</p>
    <p>First Name: @Model.Fname</p>
    <p>Last Name: @Model.Lname</p>
    <p>Balance: @Model.Bal</p>

    <form method="post" action="/User/TransactionHistory">
        <button type="submit" class="btn btn-primary">Transaction History</button>
    </form>
}
else
{
    <p>Account not found.</p>
}