@model assignment2A_real.Models.UserProfile

@{
    ViewData["Title"] = "User Profile";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome you have successfully logged in, @Model.Name!</p>
<p>Email: @Model.Email</p>
<p>Address: @Model.Address</p>
<p>Phone: @Model.Phone</p>
<p>Picture: @Model.Picture</p>
<p>AcctNo: @Model.AcctNo</p>

<form method="post" action="/User/AccountSummary">
    <input type="hidden" name="acctNo" value="@Model.AcctNo">
    <button type="submit" class="btn btn-primary">Account Summary</button>
</form>